name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ] # mainブランチにpushした時に実行

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - run: flutter pub get
      # 重要：自分のリポジトリ名を指定
      - run: flutter build web --release --base-href "/zaiki_app/"
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
